<!DOCTYPE html>
<html>
    <head>
        <title>bg2 engine physics library</title>
    </head>
    <body>
        <h1>Samples</h1>
        <ul>
            {{ samples }}
        </ul>
        <p>Do you need only a physics engine? bg2 engine physics uses <a href="https://github.com/kripken/ammo.js/">ammo.js</a>, a direct port of the <a href="http://bulletphysics.org/wordpress/">bullet physics engine</a> to JavaScript, using <a href="https://github.com/kripken/emscripten">emscripten</a></p>
    </body>
</html>